In [1]:
print(5+3)

8

In [3]:
#variable :  you store something inside it
x=10
print(x)

10

In [4]:
# printing b and getting a value a
a=5
b=a
print(b)

5

In [5]:
#what will this output
x=5
y=x
x=10
print(y)

5

In [6]:
#storing integer
age=20
print(age)

20

In [7]:
#storing String
name="chandan"
print(name)

chandan

In [8]:
#storing float
price=99.99
print(price)

99.99

In [9]:
#multiple Assignment
x=10
y=20
z=x+y
print(z)

30

In [10]:
#Reassignning variable
x=5
x=15
print(x)

15

In [11]:
#can a variable change its type in python
x=10
x="Hello"
print(x)

Hello

In [12]:
#python variabl are  the case sentitive
age="chandan"
Age="bhavish"
print(age)

chandan

In [14]:
#write the multiple assignment in python 
a,b,c,d=10,20,30,40
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [17]:
#important rule for naming variable
"""
must start with letter or the underscore(_)
cannot contain the special character
case sentitive
cannot use the keywords
meaningfull names
"""
younger=21
chandan_name="brother"
age=20
Age=19
x=13
student_age=15
print(younger,chandan_name,age,Age,x,student_age)

21 brother 20 19 13 15

In [24]:
#Data types in python
"""1.int-Whole number
   2.float-Decimal number
   3.str-Text
   4.bool-True/False
   5.list-collection(changable,muttable)
   6.tuple-collection(not changeable,immutable)
   7.dict-key and value pair"""
chandan=50
salary=10.00000
brother="chandan"
a=5
b=10
print(a<b)
print(a>b)
bike=["ns200","aprilla","royal and field","splendore"]
car=("mercidies","BMW","fourtuner","supra")
mammals={"money":"animal","tiger":"wild animal","cat":"domestic animal"}
print(chandan ,salary ,brother ,bike ,car ,mammals)

True
False
50 10.0 chandan ['ns200', 'aprilla', 'royal and field', 'splendore'] ('mercidies', 'BMW', 'fourtuner', 'supra') {'money': 'animal', 'tiger': 'wild animal', 'cat': 'domestic animal'}

In [25]:
#how do you check the data types?
x=10
print(type(x))

<class 'int'>

In [26]:
x="50"
print(type(x))

<class 'str'>

In [29]:
#Data types in python
"""1.int-Whole number
   2.float-Decimal number
   3.str-Text
   4.bool-True/False
   5.list-collection(changable,muttable)
   6.tuple-collection(not changeable,immutable)
   7.dict-key and value pair"""
chandan=50
salary=10.00000
brother="chandan"
a=5
b=10
print(a<b)
print(a>b)
bike=["ns200","aprilla","royal and field","splendore"]
car=("mercidies","BMW","fourtuner","supra")
mammals={"money":"animal","tiger":"wild animal","cat":"domestic animal"}
print(type(chandan) ,type(salary) ,type(brother) ,type(bike) ,type(car) ,type(mammals))
print(chandan ,salary ,brother ,bike ,car ,mammals)

True
False
<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'dict'>
50 10.0 chandan ['ns200', 'aprilla', 'royal and field', 'splendore'] ('mercidies', 'BMW', 'fourtuner', 'supra') {'money': 'animal', 'tiger': 'wild animal', 'cat': 'domestic animal'}

In [30]:
x="10"
y=5
print(x+str(y))

105

In [31]:
x="10"
y=5
print(int(x)+y)

15