In [5]:
#Basic understing creating a four variable
name="Thrupthi"
age=22
height=6.0
is_student=True
print(name,age,height,is_student)

Thrupthi 22 6.0 True

In [8]:
x="10"
y=5
print(int(x)*y)

50

In [12]:

x="10"
y=5
print(x*y)

1010101010

In [13]:
a=7
b=2
print(a/b)
print(a//b)
print(a%b)

3.5
3
1

In [14]:
#convert string into integer
num="25"
print(int(25))

25

In [15]:
x=5
y=2.0
z=x+y
print(type(z))

<class 'float'>

In [18]:
#converstion of int into string
x=10
y=str(x)
print(type(y))

<class 'str'>

In [19]:
#conversion of strig into integer
x="10"
y=int(x)
print(type(y))

<class 'int'>

In [20]:
print(bool(""))
print(bool(0))
print(bool(100))

False
False
True

In [21]:
#we start only letters or the underscore
name="Rahul"
print(name)

Rahul

In [22]:
# predict the output
print(2+3*2**2)

14

In [23]:
print(2**2)

4

In [24]:
print(3*4)

12

In [25]:
print(2+12)

14

In [27]:
#take two numbers add them multiply them divide them show remainder
a=5
b=5
print(a+b)
print(a*b)
print(a/b)
print(a%b)

10
25
1.0
0

In [33]:
#write a python program to check if a number is EVEN or ODD
num=int(input("enter the number "))
if num%2==0 :
    print(" even")
else:
    print( "odd")

enter the number  22

 even

In [34]:
#write a python program to check if a number is EVEN or ODD
num=int(input("enter the number "))
if num%2==0 :
    print(" even")
else:
    print( "odd")

enter the number  25

odd

In [36]:
if num%1==0:
    print("even")

even

In [37]:
#Two types of type conversion are there implicit type conversion 1.implicit 
a=5
b=2.5
c=a+b
print(c)
print(type(c))

7.5
<class 'float'>

In [38]:
#2.explicit type conversion
x="100"
y=int(x)
print(y)
print(type(y))

100
<class 'int'>

In [39]:
#string + string
print("10"+"5")

105

In [44]:
#string + integer is not possible
chandan=5
print("15"+int(chandan))

TypeError: can only concatenate str (not "int") to str

In [45]:
#float to int
a=5
b=3.5
print(type(a+b))#float to int

<class 'float'>

In [47]:
#float to int
a=5
b=3.5
print(int(a+b))
print(type(a+b))#float to int

8
<class 'float'>

In [48]:
#int into string
age=21
print("my age is"+str(age))

my age is21

In [ ]:
print(bool(0))
print(bool(""))
print(bool(1))
print(bool("hello"))